:root {
  --button-height: 2.5em;
  --button-font-size: 2vmin;
  --board-font-size: 3.5vmin; /* controls the board square size via the em unit */
  --board-font-size-collapsed: 9vmin;
  --board-white-col: darkgray;  /* base colour of white squares */
  --board-black-col: dimgray;   /* base colour of black squares */
  --piece-selectedStart-col: orange;    /* selected piece */
  --piece-dest-col: #0F0a;    /* valid destinations */
  --piece-selectedEnd-col: lime;    /* selected destination of piecee */
  --piece-checkKing-col: red;    /* king in check (including potential) */
  --piece-checkAttacker-col: blue;    /* piece putting king in check (including potential) */
}

body {
    text-align: center;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 0em;
    margin: 0em;
	font-size: 2vmin;
	/* font-family: Monospace; */
}

header {
    margin: 0 0 1em 0;
    padding: 0;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px #ccc inset;
    background-color: #eee;
    vertical-align: middle;
    break-after: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header div {
        margin: 0;
        padding: 0 1em 0 1em;
	font-size: 2rem;
	display: inline;
	vertical-align: middle;
    height: 100%;
}

header li {
    padding: 0px 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    overflow: auto;
    line-height: 2em;
    vertical-align: middle;
    height: 100%;
    overflow: clip;
}
header li:hover {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #fffa;
    box-shadow: 0px 0px 1px #999;
}

.left {
    float: left; 
    padding: 0em 0.1em 0em 0.2em;
}
.center,.title {
    text-align: center;
    float: center;
    color: #f00c;
    font-size: 2.5rem;
    font-variant-caps: small-caps;
    text-shadow: -2px 2px 2px black;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0em 0.1em 0em 0.1em;
    margin: 0;
}
.right {
    float: right;
    padding: 0em 0.2em 0em 0.1em;
}

.button {
    cursor: pointer;
}

.modalWrapper {
    display:none;
    position:fixed;
    z-index:1;
    padding-top:4em;
    left:0;
    top:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    overflow:auto;
    background-color:#0002;
    text-align: center;
}

.modalData {
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 64px 8px #0008;
    background-color: #ffe;
    width: 80%;
    max-width: 700px;
    max-height: 800px;
    padding: 2em;
    margin: auto;
}
 
textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}


/* ************************************************* */
/* Flex container and children */
/* ************************************************* */
.container {
  display: flex; /* or inline-flex */
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.game-control {
	order: 2;
        text-align: center;
}
.board {
	display: flex;
	flex-flow: column nowrap;
	order: 1;
	/* resize: both; */
	/* overflow: hidden; */
}
.movehistory { /* movehistory text area */
	font-size: 2vmin;
	border: black solid 1px;
	max-height: 20em;
	overflow: auto;
	font-family: Monospace;
        text-align: left;
}
.stepHistoryButton {
	float: left;
	width: 25%;
	height: var(--button-height);
	font-size: var(--button-font-size);
}
#thismove { /* thismove text area */
	font-size:2vmin;
}


/* ************************************************* */
/* Game control */
/* ************************************************* */
.prompt {
    background-color: #66ff6666;
}

/* ********** Side Buttons ************ */
.sidebutton {
	font-size: var(--button-font-size);
	height: var(--button-height);
	width: 50%;
	vertical-align:top;
	
    color: white;
    background: grey;
	float: left;
    border: black solid 1px;
    cursor: pointer;

}
.sidebutton:hover {
    background-color: orange;
    color: white;
}

/* ********** History Buttons ************ */
.historyButton{
	font-size: var(--button-font-size);
	height: var(--button-height);
	width: 50%;
	vertical-align:top;
	float: left;
	cursor: pointer;
}


/* Misc area elements */
.captured-pieces {
    border-top: 1px solid;
}
.column {
  float: left;
  width: 50%;
}

.find-pieces{
	border-top: 1px solid;
        float: bottom;
}
/* .find-pieces #find-pieces { */
    /* text-align: center; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
/* } */
.findpiecebutton {
    color: white;
	
	font-size: 4vmin;
	height: 1.5em;
	width: 1.5em;
	
    line-height: 1;
    float: center;
    border: black solid 1px;
    cursor: pointer;
    white-space: normal;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    padding: 0px;
    margin: 2px;
	/* background-color: silver; */
    background-image: linear-gradient(to bottom right, darkgray, dimgray);
}

/* ************************************************* */
/* Board elements */
/* ************************************************* */
.boardrow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	/* align-context: center; */
}
.boardsquare { /* all squares always have this */
    color: white;
	width: 3em;
	height: 3em;
	font-size: var(--board-font-size);
    border: black solid 1px;
    cursor: pointer;
    font-family: Monospace;
    line-height: 1;
    text-align: center;
    padding: 0px;
}
.whitesquare { /* all white squares always have this */
	background-color: var(--board-white-col);
}
.blacksquare { /* all black squares always have this */
	background-color: var(--board-black-col);
}
.hovered { /* when the player is hovering the mouse over it */
	background-color: orange;
}
.selectedStart { /* when the player has clicked on it as a start */
        box-shadow: 0px 0px 0px 6px var(--piece-selectedStart-col) inset;
}
.selectedEnd { /* when the player has clicked on it as a destination */
        box-shadow: 0px 0px 0px 6px var(--piece-selectedEnd-col) inset;
}
.potKing { /* when highlighted as a potential king to select */
	background-color: red;
}
.potAttacker { /* when highlighted as a potential attacker to select */
	background-color: blue;
}
.checkKing { /* a king which is in check or potential check */
        box-shadow: 0px 0px 0px 6px var(--piece-checkKing-col) inset;
}
.checkAttacker { /* a piece attacking a checked king */
        box-shadow: 0px 0px 0px 6px var(--piece-checkAttacker-col) inset;
}

.selectedEnd.checkAttacker { /* both selectedEnd AND check attacker*/
    box-shadow: 0px 0px 0px 6px var(--piece-checkAttacker-col) inset, 0px 0px 0px 12px var(--piece-selectedEnd-col) inset;
                }


.findHighlight { /* when the player has clicked a find-piece button */
	background-color: purple;
}
/* destination1 - destination16 are the 16 points of the compass clockface style
 * ie, from NNE, NE, ENE, E, ESE, etc
     * 1,3,5... = knight (all odd numbers)
     * 2 = Bishop style (northeast)
     * 4 = Rook (east)
     * 6 = Bishop (southeast)
     * 8 = Rook (South)
     * 10 = Bishop (southwest)
     * 12 = Rook (west)
     * 14 = Bishop (northwest)
     * 16 = Rook (north)
     */

.destination1,.destination3,.destination5,.destination7,.destination9,.destination11,.destination13,.destination15 {
	background-image: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0));
        box-shadow: 0px 0px 0px 3px var(--piece-dest-col) inset;
}
.destination2,.destination10 {
 	/* background-image: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); */
	background-image: linear-gradient(to bottom right, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0));
        box-shadow: 0px 0px 0px 3px var(--piece-dest-col) inset;
}
.destination4,.destination12 {
	/* background-image: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); */
	background-image: linear-gradient(to bottom, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0));
        box-shadow: 0px 0px 0px 3px var(--piece-dest-col) inset;
}
.destination6,.destination14 {
	/* background-image: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); */
	background-image: linear-gradient(to top right, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0));
        box-shadow: 0px 0px 0px 3px var(--piece-dest-col) inset;
}
.destination8,.destination16 {
	/* background-image: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); */
	background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),var(--piece-dest-col),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0));
        box-shadow: 0px 0px 0px 3px var(--piece-dest-col) inset;
}


.rankcoord {
	color: black;
	background-color: white;
	width: 1em;
	height: 3em;
	font-size: var(--board-font-size);
    border: none;
	/* border: black solid 1px; */
    font-family: monospace;
    
    line-height: 1;
    text-align: center;
    padding: 0px;
}
.filecoord {
	color: black;
	background-color: white;
	width: 3em;
	height: 1em;
	font-size: var(--board-font-size);
    border: none;
	/* border: black solid 1px; */
    font-family: monospace;
    text-align: center;
    line-height: 1;
    padding: 0px;
}
.cornerbutton {
	background-color: white;
    width: 1em;
    height: 1em;
	font-size: var(--board-font-size);
	/* float: left; */
	border: none;
}
/* background to individual unicode characters */
.whitepiece {
    background: #fffa;
    border-radius: 16px;
}
.blackpiece {
    padding: 0;
    background: #000a;
    border-radius: 16px;
}
.whitepiececollapsed {
    background: #fffa;
    border-radius: 10em;
	font-size: var(--board-font-size-collapsed);
}
.blackpiececollapsed {
    background: #000a;
    border-radius: 10em;
	font-size: var(--board-font-size-collapsed);
}

@media all and (max-aspect-ratio: 1.6) { /* Squarish screens */
	:root {
	  /* shrink the board down to fit in the other parts */
	  --board-font-size: 2.19vmax;
	  --board-font-size-collapsed: 6vmax;
	}
}

@media all and (max-aspect-ratio: 0.8) { /* Tall screens */
	/* put everything in one big column */
	:root {
	  --board-font-size: 3.8vmin;
	  --board-font-size-collapsed: 11vmin;
	}
	.container {
		flex-flow: column nowrap;
		align-items: stretch;
	}
}

@media (pointer:coarse) {
    :root {
		--button-font-size: 4vmin;
	}
	body {
		font-size: 3vmin;
	}
}

#gameid {
    width: 90%;
    font-size: 3vmin;
}
#thismove {
    width: 90%;
}
